*.log
.DS_Store
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Ignore astro build output
.astro
node_modules
dist
build
coverage

# Ignore all environment files
*.env
.env*

# Exception for the example file
!.env.example

# Ignore vercel output
.vercel